<!--<div>I am an audio player :D</div>-->

<div style="background-color: ghostwhite" layout="row">
    <md-button class="md-icon-button md-primary" aria-label="prev">
        <i class="material-icons md-36">skip_previous</i>
    </md-button>

    <md-button class="md-icon-button md-primary" aria-label="play">
        <i class="material-icons md-36">play_arrow</i>
    </md-button>

    <md-button class="md-icon-button md-primary" aria-label="next">
        <i class="material-icons md-36">skip_next</i>
    </md-button>

    <md-progress-linear class="md-accent" md-mode="determinate" value="30" style="margin-top: 15px;"></md-progress-linear>
</div>