<div ng-controller="SideNavMenuCtrl as side">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="side.isOpen() && $mdMedia('gt-md')" style="height: 87%; min-width: 250px; max-width: 250px">
        <md-toolbar class="md-theme-light">
            <h1 class="md-toolbar-tools">SideNav left</h1>
        </md-toolbar>
        <md-button aria-label="home" ng-href="#/">
            <span><i class="material-icons">home</i>{{'HOME' | translate}}</span>
        </md-button>
        <md-button aria-label="creations">
            <span><i class="material-icons">music_note</i>{{'CREATIONS' | translate}}</span>
        </md-button>
        <md-button ng-href="#/chatlist" ng-if="side.isAuthenticated()" aria-label="chat">
            <span><i class="material-icons">chat</i>{{'CHATS' | translate}}</span>
        </md-button>
        <md-button ng-if="side.isAuthenticated()" ng-click="side.toggleFriendNav()" aria-label="friends">
            <span><i class="material-icons">people</i>{{'FRIENDS' | translate}}</span>
        </md-button>
        <md-button ng-if="side.isAuthenticated()" aria-label="moments">
            <span><i class="material-icons">public</i>{{'MOMENTS' | translate}}</span>
        </md-button>
        <md-button ng-if="!side.isAuthenticated()" aria-label="login" ng-href="#/login">
            Login
        </md-button>
        <md-divider></md-divider>
        <md-button ng-click="side.togglePlaylistNav()" aria-label="playlist">
            <!--<span><i class="material-icons">tune</i>playlist</span>-->
            {{'PLAYLIST' | translate}}
        </md-button>
        <div layout="row">

            <md-list>
                <md-list-item>
                    <span>Playlist</span>
                    <md-button ng-click="side.addPlaylist()" class="md-icon-button md-primary" aria-label="playlist add">
                        <span><i class="material-icons">playlist_add</i></span>
                    </md-button>
                    <md-button ng-click="side.togglePlaylistNav()" class="md-icon-button md-primary" aria-label="open playlist">
                        <span><i class="material-icons">queue_music</i></span>
                    </md-button>
                </md-list-item>
                <md-list-item ng-repeat="l in side.playlist" ng-init="playlistIndex = $index">
                    <div ng-click="side.selectPlaylist(playlistIndex)" ng-class="{'playlist-active': side.selectedList == playlistIndex}">
                        playlist{{playlistIndex}}
                    </div>
                </md-list-item>
            </md-list>
        </div>

    </md-sidenav>
</div>
