<md-toolbar class="md-whiteframe-z2" layout="row" ng-controller="TopNavCtrl as top">
    <div class="md-toolbar-tools">


        <md-button class="md-icon-button" aria-label="sideMenu" ng-click="top.toggleSideNavMenu()">
            <i class="material-icons">view_headline</i>
        </md-button>
        <img src="images/logo.png" style="width: 50px; height: 50px;">
        <h1><a href="#/">Orphée</a></h1>
        <div class="col-xs-2">
            <input type="text" placeholder="search" class="form-control">
        </div>
        <md-button class="md-icon-button" aria-label="search">
            <i class="material-icons">search</i>
        </md-button>

        <a ng-if="!top.isAuthenticated()" href="#/login">Login</a>
        <a ng-if="top.isAuthenticated()" style="position: absolute; right: 0;">
            <img ng-src="{{top.getUserImage()}}" style="height: 50px; width: auto;">Hi, {{top.getUserName()}}
        </a>
        <a ng-if="top.isAuthenticated()" href="#/" ng-click="top.logout()">Logout</a>
    </div>
</md-toolbar>