<div style="margin-top: 50px">
    <md-whiteframe class="md-whiteframe-z3"
                   layout="column"
                   layout-align="center center"
                   style="padding: 25px">
        <img src="images/logo.png" style="height: 150px; width: 150px;">
        <h2>{{'LOG_IN_HEADER' | translate}}</h2>
        <form ng-submit="log.loginLocal()">
            <md-content>
                <md-input-container>
                    <label>{{'USERNAME' | translate}}</label>
                    <input name="username" ng-model="log.user.username" required>
                </md-input-container>
                <md-input-container>
                    <label>{{'PASSWORD' | translate}}</label>
                    <input name="password" type="password" ng-model="log.user.password" required>
                </md-input-container>
            </md-content>
            <md-button class="md-raised md-primary" style="left: 35px;">{{'NEXT' | translate}}</md-button>
        </form>
        <div style="padding-top: 15px; padding-bottom: 15px;">{{'OR' | translate}}</div>
        <md-content layout="row">
            <md-button ng-click="log.authenticate('facebook')" class="md-fab md-primary md-hue-2" aria-label="twitter">
                <md-icon md-svg-src="images/facebook.svg"></md-icon>
            </md-button>
            <md-button ng-click="log.authenticate('google')" class="md-fab md-warn" aria-label="facebook">
                <md-icon md-svg-src="images/google.svg" style="color: white"></md-icon>
            </md-button>
        </md-content>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-z3"
                   layout="row"
                   layout-align="center center"
                   style="padding: 25px">
        <a href="/#/signUp">{{'CREATE_ACCOUNT' | translate}}</a>
    </md-whiteframe>
</div>
